*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: white;
	background-size: cover;
	background-position: center;
	position: relative;
}

.logbox {
	width: 420px;
	background: url('6.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	border: 2px solid rgba(255, 255, 255, .5);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	color: #fff;
	border-radius: 10px;
	padding: 5px 30px;
}

.logbox h1 {
	font-size: 36px;
	text-align: center;
	font-weight: 800;
}

.logbox .input-box {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255,255,255, .5);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
	color: #fff;
}

.input-box i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.logbox .remeber {
	display: flex;
	font-size: 8px;
	margin: 20px;
}

.remember label input {
	color: #fff;
	margin-right: 5px;
}



.logbox .btn {
	width: 100%;
	height: 40px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	cursor: pointer;
	font-size: 20px;
	color: #333;
	font-weight: 800;

}
.logbox .register-link {
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
}

.register-link p a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.register-link p a:hover {
	color: #00FF00;
}




.sign-up{
	width: 450px;
	height: 450px;
	background: url('6.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	border: 2px solid rgba(255, 255, 255, .5);
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	color: #fff;
	border-radius: 10px;
	padding: 2px 20px;
}

.sign-up h1{
	text-align: center;
	padding-top: 15px;
	font-size: 36px;
	font-weight: 800;
}

.sign-up form{
	width: 100%;
	margin-left: 20px;
}

.sign-up form label{
	display: flex;
	margin-top: 10px;
	font-size: 18px;
}

.sign-up form input{
	width: 365px;
	height: 45px;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255,255,255, .5);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 10px 30px 10px 10px;
}

.sign-up input::placeholder {
	color: #fff;
}


.sign-up .btn {
	margin-top: 10px;
	width: 365px;
	height: 40px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	cursor: pointer;
	font-size: 20px;
	color: #333;
	font-weight: 800;
}

.sign-up .login-link {
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
}

.login-link {
	font-size: 10px;
	text-align: center;
}

.login-link p a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.login-link p a:hover {

	color: #00FF00;
}
